/*
Name: Jaden Moler
Date created: 10/8/19
Last revised: 10/19/19
*/

header, footer
{
    background-color: #022A5D;
    color: aliceblue;
    text-align: center;
}

header
{
    font-family: bookman;
}

a:hover
{
    font-weight: bold;
}

a:active
{
    text-decoration: underline;
}

a:visited
{
    color: goldenrod;
}

nav
{
    padding: 10px;
    background-color: #022A5D;
    border-bottom: solid black;
    border-top: solid black;
}

nav .btn
{
    background-color: aliceblue;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1F90BA;
    margin: 0px;
}

footer
{
    border-top: solid black;
    margin-top: auto;
}

a
{
    margin: 15px;
}